{% extends "base.html" %}

{% block title %}
Thermos ------ Add :)
{% endblock %}
{% block content %}
<!--    <form action="" method="post">
        <p>
            Please enter your bookmark here:
            <input type="text" name="url">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form> -->
    <form action="" method="post">
        {{form.hidden_tag()}}
        <table>
            <tr>
                <td>Please enter your bookmark here:</td>
                <td>{{form.url(size = 50)}}</td>
            </tr>
            <tr>
                <td>Please enter a description here:</td>
                <td>{{form.description(size = 50)}}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}